@media only screen and (max-width: 1200px) {
  .options__content--text {
    padding: 0 2rem;
  }

  .program__home--text {
    padding: 0 10rem;
  }

  .program__sections {
    display: flex;
    flex-wrap: wrap;
  }

  .program__content {
    width: 50%;
  }

  .program3 {
    background-position: 10% 10%;
  }

  .program4 {
    background-position: 10% 10%;
  }

  .program__content--heading {
    text-align: center;
  }

  .program__content--text {
    text-align: center;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 1100px) {
  .home {
    background-position: 40% 50%;
  }
  .navbar__menu ul {
    width: 50%;
  }

  .about__image {
    width: 380px;
  }

  .about__image:hover {
    transform: scale(1);
  }

  .options__content--text {
    padding: 0 1rem;
  }

  .program__showcase--text {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 1005px) {

  .navbar__menu ul {
    width: 60%;
  }

  .about {
    height: 880px;
    display: block;
  }

  .about__left {
    width: 100%;
    padding-left: 2%;
  }

  .about__right {
    width: 70%;
    margin-bottom: 10rem;
    padding-bottom: 10rem;
  }

  .about__content--heading1 {
    font-size: 48px;
    margin: 20px 0;
  }

  .about__content--heading2 {
    width: 90%;
  }

  .about__content--text {
    width: 90%;
  }

  .about__content--button {
    align-self: flex-start;
    margin: 10px 0;
  }

  .about__right {
    width: 100%;
    align-self: flex-start;
  }

  .about__image {
    width: 100%;
    height: 430px;
    margin-left: 1rem;
  }

  .about__image:hover {
    transform: scale(1);
  }

  .options__content--text {
    width: 100%;
    padding: 0 2rem;
  }

  .footer__sections {
    padding: 1rem 1rem;
  }

  .footer__content:first-child {
    margin-left: 20px;
  }

  .footer__content--icon i {
    font-size: 20px;

    margin-right: 1px;
  }

  .brand {
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .home {
    background-position: 40% 50%;
  }


  .about {
    padding: 10px 0 10px 20px;
    height: 900px;
  }

  .options__content--heading {
    font-size: 20px;
  }

  .options__content--text {
    font-size: 14px;
    padding: 0 3rem;
  }

  .footer__content--icon i {
    font-size: 20px;
    margin-right: 3px;
  }

  .footer__content {
    width: 100%;
  }

  .footer__content--text {
    width: 100%;
    font-size: 14px;
  }

  .brand {
    margin-left: 5px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .home__content--heading {
    font-size: 32px;
  }

  .home__content--text {
    font-size: 14px;
    width: 90%;
    text-align: center;
  }

  .home {
    background-position: 40% 30%;
  }

  .about {
    padding: 10px 0 10px 20px;
    height: 900px;
  }

  .about__left {
    width: 100%;
    display: block;
  }

  .about__content--heading1 {
    font-size: 54px;
    font-weight: 400;
    padding-top: 40px;
  }

  .about__content--heading2 {
    font-size: 18px;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    padding-right: 10px;
    letter-spacing: 0;
  }

  .about__content--text {
    font-size: 16px;
    width: 100%;
    margin: 20px 10px 20px 0;
    line-height: 24px;
    font-weight: 400;
    padding-right: 20px;
  }

  .about__content--button {
    align-self: flex-start;
    margin: 10px 0 30px 0;
  }

  .about__image {
    width: 80%;
    height: 330px;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
  }

  .options__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 0.4s;
    width: 100%;
    padding: 50px 0 0 50px;
  }

  .option1 {
    background-position: 90% 28%;
  }

  .option2 {
    background-position: 100% 10%;
  }

  .option3 {
    background-position: 10% 20%;
  }

  .options__content--button {
    align-self: flex-start;
    margin-left: 0;
  }

  .options__content--text {
    align-self: flex-start;
    text-align: left;
    padding: 0;
  }

  .program__showcase--text {
    padding: 0 2rem;
  }

  .program__sections {
    flex-wrap: wrap;
  }

  .program__content {
    width: 100%;
  }

  .program__content--heading {
    text-align: center;
  }

  .program__content--text {
    text-align: center;
    font-size: 14px;
  }

  .program__content--button {
    left: 13%;
  }

  .footer__sections {
    display: inline-block;
    padding: 3% 0 5% 20%;
  }

  .footer__content:first-child {
    margin-left: 0;
  }

  .footer__sections .footer__content {
    width: 200px;
    display: inline-block;
  }

  .footer__content--icon i {
    font-size: 15px;
    vertical-align: center;
    margin-right: 1px;
  }

  .footer__content--text {
    width: 80%;
    font-size: 16px;
  }

  .copyRight {
    padding: 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  /* ********************************************************************************** */
  /* **************************   White Nav    ******************************************** */
  /* ********************************************************************************** */
  .navbar__menu {
    padding-top: 20px;
    align-items: flex-start;
    justify-content: unset;
  }

  .navbar__logo {
    padding-left: 20px;
  }

  .burger {
    display: block;
  }

  .navbar__links {
    opacity: 0;
    transform: translateX(-20%);
  }

  .navbar__menu ul li {
    padding: 0;
  }

  .menu-open {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: white;
    opacity: 1;
    padding-left: 40px;
    transform: translateY(0);
    transition: 1s;
  }
}
@media only screen and (min-width: 280px) and (max-width: 500px) {
  /* **************************   Menu   ******************************************* */
  .navbar__menu {
    padding-top: 22px;
    align-items: flex-start;
  }

  .navbar__logo {
    padding-left: 20px;
    font-size:20px;
    letter-spacing: 3px;
  }

  .navbar__logo i {
    font-size: 20px;
    color: #e4381c;
  }

  .burger {
    display: block;
    right: 10px;
  }

  .navbar__links {
    opacity: 0;
    transform: translateX(-20%);
  }

  .navbar__menu ul li {
    padding: 2px;
  }

  .menu__link {
    font-size: 15px;
    letter-spacing: 3px;
  }

  .menu-open {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: white;
    opacity: 1;
    padding-left: 40px;
    transform: translateY(0);
    transition: 1s;
  }

  /* **************************   Home   ******************************************* */
  .home {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/home.jpg") no-repeat;
    background-size: cover;
    background-position: 40% 50%;
    text-align: center;
  }


  .home__content--heading {
    font-size: 20px;
    margin:40px 0 10px 0;
  }

  .home__content--text {
    padding: 0 1rem;
    margin-bottom: 10px;
    font-size:12px;
  }

  .home_content--button {
    border-radius: 20px;
    font-size:12px;
    padding: 0.5rem 2rem;
    align-self: center;

  }

  /* **************************   About   ******************************************* */
  .about {
    height: 850px;
    padding: 1.4rem 0.5rem;
    text-align: center;
  }

  .about__left {
    width: 100%;
  }

  .about__content {
    height: 90%;
  }

  .about__content--heading1 {
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }

  .about__content--heading2 {
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 22px;
    letter-spacing: 0;
  }

  .about__content--text {
    font-size: 12px;
    padding: 0;
    width: 100%;
    margin-bottom: 5px;
  }

  .about__content--button {
    align-self: center;
    margin-bottom: 20px;
    padding: 0.5rem 0.9rem;
    font-size:12px;
  }

  .about__right {
    width: 100%;
    padding: 0rem 2rem 3rem 0.2rem;
  }

  .about__image {
    width: 100%;
    padding: 1rem;
  }

  .about__image:hover {
    transform: scale(1);
  }

  /* **************************   Options  ******************************************* */
  .options {
    flex-direction: column;
    height: 800px;
  }

  .options__content {
    height: 100%;
    padding-top: 3.5rem;
  }

  .option1 {
    background-position: 10% 30%;
  }

  .option2 {
    background-position: 10% 30%;
  }

  .options__content--heading {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .options__content--text {
    text-align: center;
    padding: 0 4rem;
    margin-bottom: 10px;
    line-height: 15px;
    font-size: 10px;
  }

  .options__content--button {
    margin: 0 10px 0 10px;
    padding: 0.3rem 0.7rem;
    font-size: 12px;
  }

  /* **************************   Programs   ******************************************* */
  .program__showcase {
    height: 155px;
  }

  .program__showcase--heading {
    padding: 30px 0 5px 0;
    font-size: 25px;
  }

  .program__showcase--text {
    font-size: 11px;
    margin-bottom: 0;
    line-height: 20px;
    font-weight: 400;
    padding: 0 1.2rem;
  }

  .program__sections {
    display: flex;
  }

  .program__content {
    width: 100%;
    height: 350px;
  }

  .program1 {
    background-position: 50% 10%;
  }

  .program3,
  .program4 {
    background-position: 1% 1%;
  }

  .program__content--heading {
    font-size: 25px;
    margin-top: 50px;
  }

  .program__content--text {
    font-weight: bold;
    font-size: 11px;
    padding: 0 2rem;
    margin-bottom: 10px;
  }

  .program__content--button {
    padding: 0.3rem 0.7rem;
    font-size: 12px;
  }

  /* **************************   Footer  ******************************************* */
  .footer__sections {
    padding: 0;
    text-align: center;
    border: 5px solid black;
  }

  .footer__content:first-child {
    margin-left: 0;
  }

  .footer__content--heading {
    margin: 15px 0;
    font-size: 10px;
  }

  .footer__content--icon i {
    font-size: 15px;
    margin: 0 0 5px 0;
    display: block;
    color: White;
  }

  .footer__content--text {
    font-size: 7px;
  }

  .footer__sections .footer__content {
    background: black;
    padding: 0 1rem;
  }

  .brand {
    margin-left: 3px;
    font-size: 8px;
  }

  .copyRight {
    text-align: center;
    padding: 0.5rem;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 0.5rem;
  }
}

@media only screen and (min-width: 150px) and (max-width: 280px) { 
  .navbar__menu {
    padding-top: 22px;
    align-items: flex-start;
  }

  .navbar__logo {
    font-size:16px;
    letter-spacing: 3px;
  }
  
  .about {
    height: 70vh;
  }
  .about__content--heading1 {
    font-size: 25px;
  }

  .about__right {
    display:none;
  }

  .program__showcase {
    height: 155px;
  }

  .program__showcase--heading {
    font-size: 20px;
  }

  .program__showcase--text {
    font-size: 10px;
    padding: 0 .5rem;
  }

  .program__content--text {
    padding: 0 1rem;
  }

  .footer__sections {
   
    flex-direction: column;
  }


  .copyRight {
    text-align: center;
    padding: 0.5rem;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 0.5rem;
  }

}